// Colors
$base: #34495e;
$green: #1abc9c;

$gray: #95a5a6;
$lightgrey: #ecf0f1;
$inverse: #fff;

$success: #2ecc71;
$danger: #e74c3c;
$warning: #f1c40f;



$blue: #3498db;
$yellow: #F0DB4F;

// Font
$base-font-size: 14px;
$base-line-height: 21px;

$main-width: 700px;

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

header {
  @extend .wrapper;
  background-color: $yellow;
  font-size: 48px;
  vertical-align: bottom;
  color: #323330;
  font-weight: bold;
  padding: 30px 20px 0px 20px;

  small {
    font-size: 30px;
    font-weight: normal;
    margin-left: 10px;
  }
}

footer {
  border-top: 1px solid $lightgrey;
  @extend .wrapper;
}

.content {
  @extend .wrapper;
}

.wrapper {
  max-width: $main-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}


pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

p > code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 3px;
  border-radius: 3px;
}

a:link, a:active, a:visited, a:hover {
  color: $blue;
  text-decoration:  none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;

  th, td {
    border: 1px solid $lightgrey;
    padding: 20px;
  }
}

img {
  background-color: $lightgrey;
  padding: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}