doctype html
block vars
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  title #{title} | js-training
  link(rel="stylesheet", href="styles/main.css")

body
  header
    a.logo(href="index.html") JS
      small training

  .content
    block content

  footer
    p Autor: 
      strong Axel Hernández Ferrera
      |  (
      a(href="http://axelhzf.com", target="_blank") blog
      | , 
      a(href="http://twitter.com/axelhzf", target="_blank") twitter
      | , 
      a(href="http://github.com/axelhzf", target="_blank") github
      | )

    include comments.html

  include analytics.html

