doctype html
block vars
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  title #{title} | js-training
  link(rel="stylesheet", href="/styles/main.css")

body
  header
    .logo JS
      small training

  .content
    block content

  footer
    a(href="http://twitter.com/axelhzf", about="_blank") Twitter
    a(href="http://github.com/axelhzf", about="_blank") Github